@{
    ViewData["Title"] = "Carrito";
}

@model List<Producto>

@section Styles {
    <link href="@Url.Content("~/css/productos/carritoIndex.css")" rel="stylesheet" type="text/css" />
}

<h2>Carrito</h2>
<h5>Total: $</h5>